<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="LastPrice Automation Suite" parallel="false">
    <listeners>
        <listener class-name="tests.TestResultLogger"/>
    </listeners>
    <test name="Simple Cart Test">
        <classes>
            <class name="tests.SimpleCartTest"/>
        </classes>
    </test>
    <test name="Registration Form Test">
        <classes>
            <class name="tests.RegistrationFormTest"/>
        </classes>
    </test>
    <test name="LastPrice Registration Test">
        <classes>
            <class name="tests.LastPriceRegistrationTest"/>
        </classes>
    </test>
</suite>
